body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 200;
  background: linear-gradient(to bottom, #fcf3c4, #f962a0, #aa96f9);
  color: antiquewhite;
}

h1 {
  font-weight: 400;
}
h2 {
  font-weight: 250;
}
h3 {
  font-weight: 200;
  font-size: medium;
}

.container {
  text-align: center;
  margin: 20px;
  padding: 20px;
}

#profile-pic {
  border-radius: 50%;
  box-shadow: 0 40px 40px rgba(0,0,0,0.1);
}

.card {
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  margin: 20px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

#button {
  cursor: pointer;
  position: relative;
  padding: 10px 20px;
  background: rgba(255, 250, 240, 0.1);
  font-size: medium;
  font-weight: 200;
  border-radius: 5px;
  border: 2px solid rgba(255, 250, 240, 0.5);
  transition: all 0.3s;
  font-family: 'Montserrat', sans-serif;
  color: antiquewhite;
}

#button::after, #button::before {
  content: " ";
  width: 10px;
  height: 10px;
  position: absolute;
  border: 0px solid transparent;
  transition: all 0.3s;
}

#button::after {
  top: -5px;
  left: -5px;
  background: rgba(255, 250, 240, 0.1);
  border-top: 5px solid rgba(255, 250, 240, 0.7);
  border-left: 5px solid rgba(255, 250, 240, 0.7);
}

#button::before {
  bottom: -5px;
  right: -5px;
  border-bottom: 5px solid rgba(255, 250, 240, 0.7);
  border-right: 5px solid rgba(255, 250, 240, 0.7);
}

#button:hover {
  border-radius: 0px;
  background: rgba(255, 250, 240, 0.1);
}

#button:hover::after, #button:hover::before {
  width: 100%;
  height: 100%;
  border-color: rgba(255, 250, 240, 0.7);
}

#description-box {
  padding: 10px;
  margin: 20px auto;
  max-width: 600px;
  border-radius: 8px;
}

.list {
  display: flex;
  justify-content: center;
  padding: 0;
  list-style-type: none;
  margin: 0;
}

.list li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 75px;
  height: 75px;
  border: 2px solid antiquewhite;
  border-radius: 50%;
  margin: 0 10px;
  font-size: 14px;
  font-weight: 200;
  color: antiquewhite;
  background: transparent;
}

.list li:hover {
  background: rgba(255, 250, 240, 0.2);
}

.social-link {
  display: inline-block;
  margin: 10px;
  font-size: 40px;
  color: #333;
  transition: color 0.3s;
}

.social-link:hover {
  color: #0077b5;
}

.social-link i {
  display: block;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  .container {
    width: 300px;
  }
}

/* comment */
